//  GLOBAL VARIABLES

//  COLORS
$mainColor: #FC4F3F;
$mainComplementColor: #3FFC94;

$lightGray: #F5F5F5;
$gray: #EFEFEF;
$middleGray: #E7E7E7;
$middleDarkGray: #6F7277;
$darkGray: #393939;
$darkerGray: #1F2025;

//  FONTS
$mainFamily: 'Nunito Sans', sans-serif;
$mainSize: 16px;
$mainWeight: normal;


//  HEADER AND NAV
$headerSize: 80px;
$navSize: 130px;