//  GLOBAL VARIABLES

//  COLORS
$mainColor: #FC4F3F;
$mainComplementColor: #34AF6B;

$lighterGray: #f9f9f9;
$lightGray: #F5F5F5;
$gray: #EFEFEF;
$middleGray: #E7E7E7;
$middleGray2: #979898;
$middleDarkGray: #6F7277;
$darkGray: #393939;
$darkerGray: #1F2025;

$dangerColor: #f00;

//  FONTS
$mainFamily: 'Nunito Sans', sans-serif;
$mainSize: 16px;
$mainWeight: normal;


//  MAIN HEADER
$headerSize: 80px;

//  MAIN NAV
$navSize: 120px;
$subWidth: 200px;

//  MAIN FOOTER
$footerSize: 30px;

//  MAIN CONTENT
$mainSpacingVertical: 40px;
$mainSpacingHorizontal: 20px;
$mainSpacingVerticalHalf: $mainSpacingVertical / 2;
$mainSpacing: $mainSpacingVertical $mainSpacingHorizontal;


//  GENERAL STYLE
$borderRadius: 0;

