//  GLOBAL VARIABLES

//  COLORS
$mainColor: #FC4F3F;
$mainComplementColor: #3FFC94;

$lightGray: #F5F5F5;
$gray: #EFEFEF;
$middleGray: #E7E7E7;
$darkGray: #393939;

//  FONTS
$mainFamily: 'Nunito Sans', sans-serif;
$mainSize: 16px;
$mainWeight: normal;