<header>
    <h1>
        {{title}}
        <small>{{subTitle}}</small>
    </h1>
</header>

<section>
    <div class="row">
        <div class="col-xs-12">
            
          <table class="table">
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Login</th>
              <th>E-mail</th>
              <th>Data de Cadastro</th>              
            </tr>
            <tr>
              <td>1</td>
              <td>Gustavo Sales Santos</td>
              <td>salesgu</td>
              <td>gustavo@hebsix.com.br</td>
              <td>30/12/2016</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Gustavo Sales Santos</td>
              <td>salesgu</td>
              <td>gustavo@hebsix.com.br</td>
              <td>30/12/2016</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Gustavo Sales Santos</td>
              <td>salesgu</td>
              <td>gustavo@hebsix.com.br</td>
              <td>30/12/2016</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Gustavo Sales Santos</td>
              <td>salesgu</td>
              <td>gustavo@hebsix.com.br</td>
              <td>30/12/2016</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Gustavo Sales Santos</td>
              <td>salesgu</td>
              <td>gustavo@hebsix.com.br</td>
              <td>30/12/2016</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Gustavo Sales Santos</td>
              <td>salesgu</td>
              <td>gustavo@hebsix.com.br</td>
              <td>30/12/2016</td>
            </tr>
          </table>

        </div>
    </div>
</section>